.card-image-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}